hu.bme.mit.cv/src/marton_bur_cv.aux
hu.bme.mit.cv/src/marton_bur_cv.bbl
hu.bme.mit.cv/src/marton_bur_cv.blg
hu.bme.mit.cv/src/marton_bur_cv.log
hu.bme.mit.cv/src/marton_bur_cv.out
hu.bme.mit.cv/src/marton_bur_cv.pdf
hu.bme.mit.cv/src/marton_bur_cv.synctex.gz
